fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
redis
celery
mlflow
pandas
numpy
scikit-learn
evidently
pytest
httpx
requests
PyYAML
prometheus-client
PyJWT